@font-face {
    font-family: "MADE Kenfolg";
    font-style: none;
    font-weight: normal;
    src: url("fonts/MADE\ Kenfolg/font.otf") format(opentype);
}

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serifFont;
    font-weight: lighter;
}

p { font-family: $sansFont; }

html, body { background-color: $primaryColor; }

.icon-white {
    color: #FFF;
    cursor: pointer;
  }